<div class="card text-center">
  <div class="card-body">
    <p class="card-title h4">Webspi Status</p>
    <div class="card-text h3">
        <div *ngIf="status$ | async as status else loading">
          <span *ngIf="status==='up' else down"  title="Webspi is up">
            <span class="text-success">
              <i class="fas fa-check"></i>
            </span>
          </span>
          <ng-template #down>
            <span class="text-danger" title="Webspi is down">
              <i class="fas fa-times"></i>
            </span>
          </ng-template>
        </div>
        <ng-template #loading>
          <span>
            <i class="fas fa-spinner fa-spin"></i>
          </span>
        </ng-template>
      </div>
  </div>
</div>