/* You can add global styles to this file, and also import other style files */
@import "./node_modules/bootstrap/scss/bootstrap.scss";

/*
  Make the Angular validation classes inherit from the Bootstrap validation classes
  so that the form validation works nicely with Bootstrap.
*/   
.ng-dirty.ng-invalid, .ng-touched.ng-invalid {
    @extend .is-invalid;
}

.ng-dirty.ng-valid, .ng-touched.ng-valid {
    @extend .is-valid;
}